# {{ ansible_managed }}

# /etc/systemd/system/node_exporter.service: node_exporter service unit file

[Unit]
Description=Node Exporter
Requires=node_exporter.socket

[Service]
User=node_exporter
TimeoutStartSec=0
ExecStart={{ node_exporter_bin_path }} --web.systemd-socket {{ node_exporter_options }}
Restart={{ node_exporter_restart }}

[Install]
WantedBy=multi-user.target
